footer {
    background-color: #353539;
    padding-top: 50px;
    color: white;
    width: 100vw;

    .logo {
        text-align: center;
        padding-bottom: 20px;
        img {
            max-width: 200px;
        }
    }

    .container {
        text-align: center;

        ul {
            padding-left: 0;
            list-style-type: none;

            .title {
                font-size: 17px;
                margin-bottom: 10px;
            }

            li {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        .contact {
            font-size: 25px;
            padding: 10px;
            text-align: center;
        }

        .contact-us-btn {
            margin-top: 20px;
            width: 130px;
            height: 40px;
            border-radius: 20px;
        }
    }

    .copyright {
        background-color: black;
        color: #b6b6b6;
        margin-top: 50px;
        padding-top: 15px;
        font-size: 12px;
    }
}
