<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="logo col-md-3 col-sm-12">
                <img src="/assets/images/logo-white.png" routerLink="/" width="200px">
            </div>
            <div class="col-md-2 col-sm-12">
                <ul>
                    <li class="title">Get started</li>
                    <li routerLink="/">Home</li>
                    <li routerLink="/signup">Sign up</li>
                    <li routerLink="/login">Log in</li>
                    <li routerLink="/projects">Projects</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12">
                <ul>
                    <li class="title">About us</li>
                    <li>Who are we</li>
                    <li>Newsletters</li>
                    <li>Contact us</li>
                    <li>Review</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12">
                <ul>
                    <li class="title">Support</li>
                    <li>FAQ</li>
                    <li>Help us</li>
                    <li>Support</li>
                    <li>Terms of Use</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 contact">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a role="button" class="contact-us-btn btn btn-primary">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright justify-content-center">
        <p>
            <i class="fa fa-copyright" aria-hidden="true"></i>
            2017 Copyright reserved | SENG-365 Course Project
        </p>
    </div>
</footer>
