<div class="projects-page">
    <div class="projects-banner">
        <h1>Funding</h1>
        <p>The new lifestyle we are addicted to.</p>
    </div>
    <div class="projects-search container">
        <div class="d-flex justify-content-start">
            <form class="form-inline search-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Key words in title or subtitle"
                       aria-label="Search" #searchText>
                <a role="button" class="btn btn-outline-primary search" *ngIf="!isLoggedIn()"
                   (click)="getPublicProjects()">
                    Search
                </a>
                <div class="btn-group" *ngIf="isLoggedIn()">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle search" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Search
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="getPledgedProjects()">Projects I supported</a>
                        <a class="dropdown-item" (click)="getCreatorProjects()">Projects I created</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="getPublicProjects()">All public projects</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container projects-card d-flex flex-wrap">
        <div class="card align-self-start" *ngFor="let project of projects | async">
            <img class="card-img-top" src="{{baseUrl + project.imageUri}}" alt="Card image cap"/>
            <div class="card-body">
                <a class="card-title" routerLink="/projects/{{project.id}}">{{project.title}}</a>
                <p class="card-text">{{project.subtitle}}</p>
                <!--<a class="btn btn-primary" role="button">Go somewhere</a>-->
            </div>
        </div>
        <div
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            (scrolled)="onScroll()">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 sign end-of-projects" *ngIf="reachedEnd">
                CrowdFunding: I think that is all we got 🤔
            </div>
            <div class="col-12 sign loading-projects" *ngIf="isLoading">
                CrowdFunding: We are trying to load projects ... 😅
            </div>
        </div>
    </div>
    <div class="back-to-top">
        <a (click)="scrollToTop()">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        </a>
    </div>
</div>
