<div class="projects-page">
    <div class="projects-banner">
        <h1>Funding</h1>
        <p>The new lifestyle we are addicted to.</p>
    </div>
    <div class="container d-flex flex-wrap align-self-start">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap"/>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" role="button">Go somewhere</a>
            </div>
        </div>
    
    </div>
</div>
