div.login-page {
    padding-top: 200px;
    background-image: url("/assets/images/bg.gif");
    background-size: cover;
    padding-bottom: 200px;

    .card {
        width: 400px;

        .card-header {
            text-align: center;
        }

        .card-body {

            .prompt-group {
                font-size: 14px;
                color: white;
                p {
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                }
                .error {
                    background-color: #E44234;
                }
                .normal {
                    background-color: #52AF52;
                }
            }

            form {

                #emailHelp {
                    padding-left: 2px;
                    a {
                        color: #5567ff;
                    }
                }

                .form-check-label {
                    font-size: 13px;
                }
            }

            .button-group {
                text-align: center;
                width: auto;

                #signup {
                    margin-bottom: 20px;
                }

                p {
                    text-align: center;
                    width: auto;
                    padding-top: 15px;
                    margin-left: 10px;
                    margin-right: 10px;
                    color: #a7a7a7;
                    font-size: 13px;
                    display: table;
                    white-space: nowrap;
                    &:before, &:after {
                        border-top: 1px solid #c9c9c9;
                        content: '';
                        display: table-cell;
                        position: relative;
                        top: 0.5em;
                        width: 50%;
                    }
                    &:before {
                        right: 2%;
                    }
                    &:after {
                        left: 2%;
                    }
                }
            }
        }
    }
}

//.login-body {
//  background-color: transparent;
//}
//
//.content-login {
//  text-align: center;
//  color: #f4f4f4;
//  width: 100%;
//  padding-top: 30px;
//  padding-bottom: 70px;
//}
//
//.panel-login {
//  background: rgba(255, 255, 255, 0.95);
//  max-width: 400px;
//  margin-top: 50px;
//}
//
//.panel-body {
//  color: #555555;
//  padding: 10% 15% 10% 15%;
//}
//
//.form-group {
//  text-align: left;
//}
//
//.checkbox > .forgetpwd {
//  float: right;
//  color: #c60404;
//}
//
//.panel-login {
//  box-shadow: 5px 5px 30px black;
//}
//
//.panel-body > form > .btn-primary {
//  width: 100%;
//}
//
//.panel-body > .btn-info {
//  width: 100%;
//}
