<div class="container">
    <div class="project-header">
        <h1>Yomee - The World’s First Automatic Yogurt Maker</h1>
        <h5>Yomee is revolutionizing homemade yogurt: With its Keurig-like design, just add milk and a Yomee pod to
            enjoy fresh, healthy yogurt</h5>
    </div>
    <div class="project-brief row">
        <div class="col-md-7">
            <img src="https://api.haomingyin.com/api/v2/projects/1/image">
        </div>
        <div class="col-md-5 card">
            <div class="card-body">
                Blah blah...
            </div>
        </div>
    </div>
</div>
