<div class="container" *ngIf="getProject() as p">
    <div class="project-header">
        <h1>{{p.title}}</h1>
        <p>{{p.subtitle}}</p>
    </div>
    <div class="row project-body justify-content-start">
        <div class="col-md-7 d-flex flex-column project-image">
            <img class="mb-4" src="{{baseUri + p.imageUri}}">
            <div class="project-detail">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                                   role="tab" aria-controls="description" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="rewards-tab" data-toggle="tab" href="#rewards"
                                   role="tab" aria-controls="rewards" aria-expanded="false">Rewards</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <p class="card-text">{{p.description}}</p>
                            </div>
                            <div class="tab-pane fade" id="rewards" role="tabpanel"
                                 aria-labelledby="rewards-tab">
                                <div class="reward-detail mb-4" *ngFor="let reward of p.rewards">
                                    <p class="card-text reward-title">Pledge <strong>${{reward.amount}}</strong> or more
                                    </p>
                                    <p class="card-text">{{reward.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="project-brief col-md-5 d-flex flex-column">
            <div class="card align-self-start mb-4">
                <div class="card-body">
                    <p class="funding-target"><strong>${{getPrettyMoney(p.progress.currentPledged)}}</strong> of
                        ${{getPrettyMoney(p.target)}} goal</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100"
                             [style.width]="getPercentage(p.progress.currentPledged, p.target)">
                        </div>
                    </div>
                    <p class="funding-backers">Funded by <strong>{{getPrettyMoney(p.progress.numberOfBackers)}}</strong>
                        backers</p>
                    <p class="creation-date">Created on <strong>{{getPrettyDate(p.creationDate)}}</strong></p>
    
                    <!--<div class="project-status">-->
                    <!--<p class="form-check-inline">Project status: </p>-->
                    <!--<div class="form-check form-check-inline">-->
                    <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" type="radio" name="statusToggle" id="project-open"-->
                    <!--value="open"> open-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<div class="form-check form-check-inline">-->
                    <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" type="radio" name="statusToggle" id="project-close"-->
                    <!--value="close"> close-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    
                    
                    <div class="input-group donate-form">
                        <span class="input-group-addon" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="1,000,000" aria-label="donate amount">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Donate Now</button>
                    </span>
                    </div>
                    <div class="remind-me">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            
            <div class="project-creators card d-flex flex-column mb-4">
                <div class="card-body">
                    <h5 class="card-title">Created by</h5>
                    <div class="card-text creator mt-4" *ngFor="let creator of p.creators">
                        <p class="card-text initial mr-2">{{getInitial(creator.username)}}</p>
                        <p class="card-text">{{creator.username}}</p>
                    </div>
                </div>
            </div>
    
            <div class="project-backers card d-flex flex-column mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent fundings</h5>
                    <div class="card-text backer mt-4" *ngFor="let backer of p.backers">
                        <p class="card-text initial mr-2" *ngIf="!isAnonymous(backer.username)">
                            {{getInitial(backer.username)}}</p>
                        <i class="fa fa-question initial mr-2 anonymous" *ngIf="isAnonymous(backer.username)"></i>
                        <p class="card-text">{{backer.username}}</p>
                        <p class="card-text amount">${{getPrettyMoney(backer.amount)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!getProject()">
    <h1>Oops, the project is not available now :(</h1>
</div>
