div.signup-page {
    padding-top: 200px;
    background-image: url("/assets/images/bg.gif");
    background-size: cover;
    padding-bottom: 200px;

    .card {
        width: 400px;

        .card-header {
            text-align: center;
        }

        .card-body {

            .prompt-group {
                font-size: 14px;
                color: white;
                p {
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                }
                .error {
                    background-color: #E44234;
                }
                .normal {
                    background-color: #52AF52;
                }
            }

            form {
                small {
                    color: #a7a7a7;
                }
                .form-check-label {
                    font-size: 13px;
                    a {
                        color: #5567ff;
                    }
                }

                #submit {
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

